<form action="/client/registration" method="post">
	<div>
	<label>App name:</label>
	<input type="text" name="name"/><br/>
	</div>
    <div>
    <label>App domain:</label>
    <input type="text" name="domain"></br>
    </div>
	<div>
	<input type="submit" value="Register"/>
	</div>
</form>
