<form action="/loginImplicit" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="hidden" id="client_id" name="client_id" value="<%= clientId %>">
    <input type="hidden" id="redirect_uri" name="redirect_uri" value="<%= redirectUri %>">
    <input type="hidden" id="scope" name="scope" value="<%= scope %>">
    <input type="submit" value="Submit"/>
	</div>
</form>
